{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/questionnotif_schoolgrades

    This template renders the notification message of a feedback question type schoolgrades.

    Example context (json):
    {
        "fbheading":    "Überschrift",
        "qid":          24,
        "qsum":         26,
        "qtext":        "Want to ask something",
        "link":         "https://example.com/blocks/coursefeedback/feedbackinfo.php?feedback=x&course=x",
        "questiontype": 1
    }

}}
<div class="cfb-notification-container">
    <b> {{fbheading}} </b>
    <p>
        <span class="cfb-question-info">
            {{#str}} notif_question, block_coursefeedback {{/str}}{{qid}}/{{qsum}}:
        </span>
        <b class="cfb-question">{{qtext}}</b>
    </p>
    <div style="min-height: 50px" class="position-relative cfb-loadingblock">
        <div class="overlay-icon-container cfb-overlay-icon">
            <div class="loading-icon">
                <div class="spinner-border overlay" role="status">
                    <span class="sr-only"> {{#str}} loading {{/str}}</span>
                </div>
            </div>
        </div>
	
        <div class="block_coursefeedback">
            <div class="d-none container-fluid pl-sm-1 pl-0 cfb-schoolgrades-container" >
                <div class="row flex-nowrap" >
                {{#numeric}}
                {{#numbers}}
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded" >
                        <span style="font-size: 1.5rem;">{{.}}</span><br>
                    </div>
                {{/numbers}}
                {{/numeric}}
                
                {{#userdefined}}
                {{#answers}}
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded" >
			<span class="text-nowrap">
                            <b>{{.}}</b>
                        </span>
                    </div>
                {{/answers}}
                {{/userdefined}}
                
                {{#classic}}
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji" >
                        <span style="font-size: 1.5rem;">&#128515;</span><br>
                        <span class="onlydesktop text-nowrap">
                            {{#str}} notif_emoji_super, block_coursefeedback {{/str}}
                        </span>
                    </div>
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji">
                        <span style="font-size: 1.5rem">&#128522;</span><br>
                        <span class="onlydesktop">
                            {{#str}} notif_emoji_good, block_coursefeedback {{/str}}
                        </span>
                    </div>
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji" style="border-radius: 8px">
                        <span style="font-size: 1.5rem">&#128578;</span><br>
                        <span class="onlydesktop">
                            {{#str}} notif_emoji_ok, block_coursefeedback {{/str}}
                        </span>
                    </div>
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji">
                        <span style="font-size: 1.5rem">&#128528;</span><br>
                        <span class="onlydesktop">
                            {{#str}} notif_emoji_neutral, block_coursefeedback {{/str}}
                        </span>
                    </div>
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji">
                        <span style="font-size: 1.5rem">&#128533;</span><br>
                        <span class="onlydesktop">
                            {{#str}}notif_emoji_bad, block_coursefeedback {{/str}}
                        </span>
                    </div>
                    <div class="col btn btn-secondary btn-sm mx-xl-2  mx-1 rounded cfb-fbemoji flex-shrink">
                        <span style="font-size: 1.5rem">&#128544;</span><br>
                        <span class="onlydesktop">
                            {{#str}} notif_emoji_superbad, block_coursefeedback {{/str}}
                        </span>
                    </div>
                {{/classic}}
                </div>
                <div class="mt-2">
                    {{#str}} notif_pleaseclick, block_coursefeedback {{/str}}
                    <a href="{{{link}}}">{{#str}} infopage_link_feedbackinfo, block_coursefeedback {{/str}}</a>
                </div>
            </div>
            <div class="d-none container-fluid pl-sm-1 pl-0 cfb-essay-container" >
                <div class="row flex-nowrap" >
                    <div class="col  mx-xl-2  mx-1 rounded cfb-essaytextarea" ></div>
                </div>
                <div class="row flex-nowrap justify-content-center mt-1" >
                    <div class="col-auto btn btn-secondary mx-xl-2  mx-1 rounded cfb-essaysendbtn">
                        <span>{{#str}} notif_submit, block_coursefeedback {{/str}} &#10148;</span>
                        </span>
                    </div>
                </div>
                <div class="mt-2">
                    {{#str}} notif_pleasewriteessay, block_coursefeedback {{/str}}
                    <a href="{{{link}}}">{{#str}} infopage_link_feedbackinfo, block_coursefeedback {{/str}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
